.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        =@group.name
      %ul.RightHeader__memberList
        Member :
        %li.RightHeader__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .RightHeader__edit-btn
      = link_to edit_group_path(@group.id), class: "RightHeader__editButton" do
        Edit
  .MessageField
    = render @messages
    -# .MessageBox
      -# .MessageInfo
        -# .MessageInfo__userName ooo
        -# .MessageInfo__date 2020年06月04日 18時28分
      -# .Message
        -# %p.Message__content ooo
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'